commit.time
rabies_drop
target.mk

.*.sw*

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
.Rhistory

*.wrapR.*

local.mk

testdir/
.testdir/
subclone_dir/

*.makestuff
.Rproj.user
up.time
